<?xml version="1.0" encoding="utf-8"?>
<!-- Generic Configuration for Unity -->
<Unity>

  <GfxCaps>
    <!-- *********************************************
            UseGeneralShaders           => 1    
            UseTreeCrossboards          => 2
            UseDynamicTreeCrossboards   => 4 
            UseDynamicGrassCrossboards  => 8
        ***********************************************-->
        <CurrentCaps>0</CurrentCaps>
        <Grass>
            <Density info="Density of Dynamic grass">0.15</Density>
            <DrawDistance info="DrawDistance for grass">250</DrawDistance>
        </Grass>
        <Tree>
            <Density info="Density of Dynamic Tree">15.0</Density>
            <DrawDistance info="DrawDistance for Tree">5000</DrawDistance>
        </Tree>
  </GfxCaps>


  <GizmoSDK>
    <!-- GIZMO_PATH is a comma (,) or semi (;) separated list with abs or relative directories -->
    <GIZMO_PATH>.;textures</GIZMO_PATH>

    <!-- GIZMO_CACHE_PATH is an absolute directory -->
    <!--<GIZMO_CACHE_PATH>c:\GizmoCache</GIZMO_CACHE_PATH>-->
  </GizmoSDK>

</Unity>