<?xml version="1.0" encoding="utf-8"?>
<!-- Generic Configuration for Unity -->
<Unity>

  <GfxCaps>
    <!-- *********************************************
            UseGeneralShaders           => 1    
            UseTreeCrossboards          => 2
            UseDynamicTreeCrossboards   => 4 
            UseDynamicGrassCrossboards  => 8
            UseFoliageCrossboards       => 16
        ***********************************************-->
        <CurrentCaps>16</CurrentCaps>
        <Grass>
            <Density info="Density of Dynamic grass (distance in meters)">0.15</Density>
            <DrawDistance info="DrawDistance for grass">250</DrawDistance>
        </Grass>
        <Tree>
            <Density info="Density of Dynamic Tree (distance in meters)">15.0</Density>
            <DrawDistance info="DrawDistance for Tree">4000</DrawDistance>
        </Tree>
        <Foliage>
            <Density info="Density of Foliage">0.25</Density>
            <DrawDistance info="DrawDistance for Tree">5000</DrawDistance>
            <Shadows info="foliage cast shadows">true</Shadows>
        </Foliage>
  </GfxCaps>


  <GizmoSDK>
    <!-- GIZMO_PATH is a comma (,) or semi (;) separated list with abs or relative directories -->
    <GIZMO_PATH>.;textures</GIZMO_PATH>

    <!-- GIZMO_CACHE_PATH is an absolute directory -->
    <!--<GIZMO_CACHE_PATH>c:\GizmoCache</GIZMO_CACHE_PATH>-->
  </GizmoSDK>

</Unity>